<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Authorize</servlet-name>
		<servlet-class>com.parisofnajd.twitterautoblock.Authorize</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.parisofnajd.twitterautoblock.Register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Worker</servlet-name>
		<servlet-class>com.parisofnajd.twitterautoblock.Worker</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Scheduler</servlet-name>
		<servlet-class>com.parisofnajd.twitterautoblock.Scheduler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Authorize</servlet-name>
		<url-pattern>/authorize</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Worker</servlet-name>
		<url-pattern>/worker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Scheduler</servlet-name>
		<url-pattern>/scheduler</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<system-properties>
	  	<property name="java.util.logging.config.file" value="WEB-INF/logging.properties"/>
	</system-properties>
	<context-param>
    	<param-name>org.mortbay.jetty.servlet.SessionURL</param-name>
    	<param-value>none</param-value>
	</context-param>
	<security-constraint>
    	<web-resource-collection>
        	<web-resource-name>worker</web-resource-name>
        	<url-pattern>/worker</url-pattern>
    	</web-resource-collection>
    	<auth-constraint>
       		<role-name>admin</role-name>
    	</auth-constraint>
	</security-constraint>
	<security-constraint>
    	<web-resource-collection>
        	<web-resource-name>scheduler</web-resource-name>
        	<url-pattern>/scheduler</url-pattern>
    	</web-resource-collection>
    	<auth-constraint>
       		<role-name>admin</role-name>
    	</auth-constraint>
	</security-constraint>
</web-app>
